*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap{
  width: 80%;
  margin: 5vh auto 0;
  font-family: 'open sans', roboto, sans-serif;
}

h1{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.game {
  display: flex;
  margin-bottom: 3vh;
}

.game div {
  height: 30vh;
  flex-grow: 1;
  margin: 10px;
  border: 3px solid gray;
}